body {
    background-color: #514E4E;
    font-family: 'Verdana';
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #161a27;
    width: 115%;
    height: 75%;
    align-self: center;
    border-radius: 7px;
}

.page {
    display:flex;
    gap: 1%;
    height: 95vh;
}

.content {
    background-color: #b8b5b5;
    color: #0d1823;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 3;
    height:100%;
}


.nav_bar{
    color: #0d1823;
    background-color: #3a5c7f;
    flex: 1;
    display: flex;
    justify-content: center;
    height: 95%;
    text-align: center;

}

.nav_bar hr {
    width: 200px;
    border-color: #304e6d
}

.nav_bar a {
    text-decoration: none;
}

.social {
    align-self: flex-end;
    justify-self: center;
}

.text_section{
    margin-left: 1%;
    width: 60vw;
    height: 40%;
}

a:link {
    color:#161a27;
}

a:visited {
    color:#161a27;
}