body {
    background-color: #514E4E;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #161a27;
    width: 300px;
    height: 50px;
    align-self: center;
    border-radius: 7px;
}